// CHANGE DEFAULT COLORS
$primary: #92bbb7;
$secondary: #945d37;

// CHANGE DEFAULT FONTS
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");
$font-family-base: "Darker Grotesque", sans-serif;

// $link-hover-color: 0%;
// $emphasized-link-hover-darken-percentage: 0%;
@import "~bootstrap/scss/bootstrap.scss";

//  ****************** end of CUTSOMIZE BOOTSTRAP******************

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  letter-spacing: 3px;
}

p {
  letter-spacing: 0;
}

button {
  letter-spacing: 3px;
}

.showcase {
  background: linear-gradient($secondary, $secondary) bottom left/ 15% 1px,
    linear-gradient($secondary, $secondary) bottom left/ 1px 50%,
    linear-gradient($secondary, $secondary) top right/ 1px 50%,
    linear-gradient($secondary, $secondary) top right/ 15% 1px;
  background-repeat: no-repeat;
  margin: 10px auto;
  width: 95%;
}

.photos {
  opacity: 0.7;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    cursor: pointer;
    transform: rotateZ(1deg);
  }
}

.email {
  letter-spacing: 1px;
}

.lightbox-header {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

.modal-body {
  padding-top: 0;
}

.slideshow {
  position: relative;
  .lightbox-btn {
    transition: all 0.5s;
  }
  &:hover > .lightbox-btn {
    opacity: 0.6;
  }
}

.lightbox-btn {
  position: absolute;
  top: 50%;
  // left: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0rem;
  opacity: 0;
  &:focus {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: none;
  }
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 4px;
    padding-left: 4px;
    margin: 4px 0;
  }
}

@media (max-width: 300px) {
  .showcase {
    background: none;
  }
}

@media (max-width: 576px) {
  .modal-body {
    padding: 0;
  }
  .about-modal {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .showcase {
    width: 50%;
  }
}
